.blog-header{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
}

.blog-body{
    width:70%;
    margin:5px auto;
    padding: 10px;
border: 1px solid #eee;
}

.heading > input{
    width: 230px;
    margin-bottom: 5px;
}

.form-center{
    width:70%;
    margin:5px auto;
    padding: 10px;
}